html,body {
    height:100%;
    padding:0;
    margin:0;
}

.container-full {
    margin: 0 auto;
    width: 100%;
}
.content-container {
    height: -moz-calc(100% - (50px));
    height: -webkit-calc(100% - (50px));
    height: calc(100% - (50px));
    display:block;
}

.not_found {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.glyphicon {
    margin-right:10px; 
}

.panel-body {
    padding:0px; 
}

.panel-body table tr td {
    padding-left: 15px 
}

.panel-body .table {
    margin-bottom: 0px; 
}
