html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    padding-top: 70px;
    background-color: #D9D9D9;
    font-size: 16px;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: auto;
}

.item-row > div {
    padding: 8px !important;
}

.item-btn {
    /* This width/height/padding construction keeps the elements squared */
    width: 100%;
    height: 0;
    padding-bottom: 80%;
    text-align: center;
    overflow: hidden;
    background-color: #D8E8E6;
    font-weight: bold;
    border: 5px #868F8E solid;
}

.item-btn .item-btn-name {
    margin-top: 10px;
}

.item-btn .item-btn-amount-now {
    position: absolute;
    top: 8px;
    left: 12px;
    line-height: 75px;
    font-size: 75px;
    color: #A3A3A3;
    opacity: 0.25;
}

.item-btn .item-btn-price {
    position: absolute;
    bottom: 15px;
    padding-right: 15px;
    width: 87%;
    text-align: right;
    font-weight: normal;
}

.category-1 {
    background-color: #FFF9D4 !important;
    border: 5px #F7FF99 solid !important;
}
.category-2 {
    background-color: #FFE6E6 !important;
    border: 5px #FF6666 solid !important;
}
.category-3 {
    background-color: #D6FFDD !important;
    border: 5px #7AFF8E solid !important;
}
.category-4 {
    background-color: #DBDCFF !important;
    border: 5px #5D5FF5 solid !important;
}
.category-5 {
    background-color: #FFE9CC !important;
    border: 5px #A67433 solid !important;
}
.category-6 {
    background-color: #D8E8E6 !important;
    border: 5px #868F8E solid !important;
}

.pay-btn {
    width: 100%;
    height: 0;
    line-height: 100%;
    margin-top: 16px;
    padding-top: 6%;
    padding-bottom: 12%;
    text-align: center;
    background: -webkit-linear-gradient(#4EF551, #19E60E); /* For Safari */
    background: -o-linear-gradient(#4EF551, #19E60E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#4EF551, #19E60E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#4EF551, #19E60E); /* Standard syntax */
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: 1px #ffffff solid;
}

.numpad {
    margin-top: 8px !important;
}

.numpad-disabled {
    opacity: 0.4;
}

.numpad .row {
    margin: 0px;
}

.numpad-btn, .numpad-btn-big {
    /* This width/height/padding construction keeps the elements squared */
    width: 33.3%;
    height: 0;
    line-height: 85%;
    padding-top: 6%;
    padding-bottom: 12%;
    text-align: center;
    background-color: #F2F2F2;
    border: 1px #ffffff solid;
}

.numpad-btn-big {
    width: 100%;
    background-color: #C2C2C2;
    font-weight: bold;
    font-size: 22px;
    border-top: 1px #8A8A8A solid;
    border-left: 1px #8A8A8A solid;
    border-right: 1px #8A8A8A solid;
}

.numpad-btn div {
    margin-top: 5px;
    font-size: 10px;
    color: #787878;
}

.receipt {
    margin-top: 15px !important;
    margin-bottom: 70px !important;
    background-color: white;
}

.receipt .active-item {
    background-color: #DAE9ED;
}

.item-list-placeholder {
    text-align: left !important;
    font-weight: lighter !important;
    font-style: italic;
}

.list-group-item:first-child {
    font-weight: bold;
}

.list-group-item:first-child > span {
    float: right;
    clear: both;
}

.list-group-item .list-delete {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 25%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    background: -webkit-linear-gradient(#DB2E2E, #E60E0E); /* For Safari */
    background: -o-linear-gradient(#DB2E2E, #E60E0E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#DB2E2E, #E60E0E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#DB2E2E, #E60E0E); /* Standard syntax */
    color: white;
    font-size: 14px;
}
