html {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 100%;
    padding-top: 60px;
    background-color: #DEDEDE;
    font-size: 16px;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: auto;
}

/* Smartphones should be able to scroll down. 768px is 'xs' in Bootstrap */
@media all and (max-width: 768px) {
    body {
        overflow: auto !important;
   }
}

.overlay {
    display: none;
    z-index: 999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    text-align: center;
    background-color: #444444;
    opacity: 0.95;
    font-size: 40px;
    color: #ffffff;
}

.navbar-header {
  width: 100%;
  line-height: 50px;
  color: #cccccc;
}

.item-row > div {
    padding: 8px !important;
}

.item-btn {
    /* This width/height/padding construction keeps the elements squared */
    width: 100%;
    height: 0;
    padding-bottom: 90%;
    text-align: center;
    overflow: hidden;
    background-color: #E6E6E6;
    border: 2px #ffffff solid !important;
    font-weight: bold;
    color: #333333;
}

.item-btn .item-btn-name {
    margin-top: 10px;
}

.item-btn .item-btn-amount-now {
    position: absolute;
    top: 8px;
    left: 12px;
    line-height: 75px;
    font-size: 75px;
    color: #8A8A8A;
    opacity: 0.5;
}

.item-btn .item-btn-price {
    position: absolute;
    bottom: 15px;
    padding-right: 15px;
    width: 87%;
    text-align: right;
    font-weight: normal;
}

/*
.category-1 {
    background-color: #FFF9D4 !important;
    border: 2px #F7FF99 solid !important;
}
.category-2 {
    background-color: #FFE6E6 !important;
    border: 2px #FF6666 solid !important;
}
.category-3 {
    background-color: #D6FFDD !important;
    border: 2px #7AFF8E solid !important;
}
.category-4 {
    background-color: #DBDCFF !important;
    border: 2px #5D5FF5 solid !important;
}
.category-5 {
    background-color: #FFE9CC !important;
    border: 2px #A67433 solid !important;
}
.category-6 {
    background-color: #D8E8E6 !important;
    border: 2px #868F8E solid !important;
}
*/
/*.category-1 {
    background-color: #F8FAD2 !important;
    border: 4px #F7FF99 solid !important;
}
.category-2 {
    background-color: #FFE6E6 !important;
    border: 4px #F5A4A4 solid !important;
}
.category-3 {
    background-color: #D6FFDC !important;
    border: 4px #84E392 solid !important;
}
.category-4 {
    background-color: #D9EDFA !important;
    border: 4px #A4D1ED solid !important;
}
.category-5 {
    background-color: #FCF8DE !important;
    border: 4px #F5D8B3 solid !important;
}
.category-6 {
    background-color: #EDEDED !important;
    border: 4px #BCC4C4 solid !important;
}*/

.transact-btn {
    width: 100%;
    height: 0;
    line-height: 100%;
    margin-top: 16px;
    padding-top: 6%;
    padding-bottom: 12%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.pay-btn {
    background: -webkit-linear-gradient(#4EF551, #19E60E); /* For Safari */
    background: -o-linear-gradient(#4EF551, #19E60E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#4EF551, #19E60E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#4EF551, #19E60E); /* Standard syntax */
    border: 1px #ffffff solid;
}

.cancel-btn {
    background: -webkit-linear-gradient(#DB2E2E, #E60E0E); /* For Safari */
    background: -o-linear-gradient(#DB2E2E, #E60E0E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#DB2E2E, #E60E0E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#DB2E2E, #E60E0E); /* Standard syntax */
    border: 1px #ffffff solid;
}

.numpad {
    z-index: 99;
    position: relative;
    margin-top: 8px !important;
}

.numpad-disabled {
    opacity: 0.4;
}

.numpad .row {
    margin: 0px;
}

.numpad-btn, .numpad-btn-big {
    /* This width/height/padding construction keeps the elements squared */
    width: 33.3%;
    height: 0;
    line-height: 85%;
    padding-top: 6%;
    padding-bottom: 12%;
    text-align: center;
    background-color: #F2F2F2;
    border: 1px #ffffff solid;
}

.numpad-btn-big {
    padding-top: 3%;
    padding-bottom: 9%;
    width: 100%;
    background-color: #616161;
    color: white;
    font-weight: bold;
    font-size: 22px;
    border-top: 1px #8A8A8A solid;
    border-left: 1px #8A8A8A solid;
    border-right: 1px #8A8A8A solid;
}

.numpad-btn div {
    margin-top: 5px;
    font-size: 10px;
    color: #787878;
}

.receipt {
    margin-top: 15px !important;
    margin-bottom: 55px !important;
    background-color: white;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

.receipt .active-item {
    background-color: #DAE9ED;
}

.item-list-placeholder {
    text-align: left !important;
    font-weight: lighter !important;
    font-style: italic;
}

.list-group-item:first-child {
    font-weight: bold;
}

.item-list .list-group-item:first-child > span {
    float: right;
    clear: both;
}

.item-list .list-group-item .list-delete {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 25%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    background: -webkit-linear-gradient(#DB2E2E, #E60E0E); /* For Safari */
    background: -o-linear-gradient(#DB2E2E, #E60E0E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#DB2E2E, #E60E0E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#DB2E2E, #E60E0E); /* Standard syntax */
    color: white;
    font-size: 14px;
}

.pay-confirm-options .col-xs-4 {
    padding: 0;
    padding-right: 10px;
}

.pay-confirm-options .col-xs-4:last-child {
    padding: 0 !important;
}

.confirm-btn {
    /* This width/height/padding construction keeps the elements squared */
    width: 100%;
    height: 65px;
    line-height: 65px;
    text-align: center;
    overflow: hidden;
    border: 1px #ffffff solid;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}

.overlay .confirm-btn {
    display: inline-block;
    width: 300px !important;
    margin-top: 25px;
    background: -webkit-linear-gradient(#4EF551, #19E60E); /* For Safari */
    background: -o-linear-gradient(#4EF551, #19E60E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#4EF551, #19E60E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#4EF551, #19E60E); /* Standard syntax */
    border: 1px #ffffff solid;
}

.cash {
    background: -webkit-linear-gradient(#4EF551, #19E60E); /* For Safari */
    background: -o-linear-gradient(#4EF551, #19E60E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#4EF551, #19E60E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#4EF551, #19E60E); /* Standard syntax */
}

.pin {
    background: -webkit-linear-gradient(#E7F54E, #DFE60E); /* For Safari */
    background: -o-linear-gradient(#E7F54E, #DFE60E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#E7F54E, #DFE60E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#4EF575, #0EE636); /* Standard syntax */
}

.credit {
    background: -webkit-linear-gradient(#4EF588, #0EE661); /* For Safari */
    background: -o-linear-gradient(#4EF588, #0EE661); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#4EF588, #0EE661); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#4EF588, #0EE661); /* Standard syntax */
}

.grayed {
    background: -webkit-linear-gradient(#4EF588, #0EE661) !important; /* For Safari */
    background: -o-linear-gradient(#4EF588, #0EE661) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#4EF588, #0EE661) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#B4BFB8, #97ADA0) !important; /* Standard syntax */
}

.customer-list-wrapper {
    height: 450px;
    overflow: auto;
}

.customer-list-wrapper .selected {
    background-color: #C4F5D5 !important;
}

.customer-list .list-group-item:first-child > span {
    float: right;
    clear: both;
    width: 100px;
    height: 25px;
    line-height: 19px;
    padding: 3px;
    text-align: center;
    background-color: #427BFF;
    background: -webkit-linear-gradient(#4EF588, #0EE661) !important; /* For Safari */
    background: -o-linear-gradient(#4EF588, #0EE661) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#4EF588, #0EE661) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#5D8DFC, #427BFF) !important; /* Standard syntax */
    font-size: 11px;
    color: #ffffff;
    border: 1px gray solid;
}

.customer-list .list-group-item:nth-child(2) {
    display: none;
}

#pos-pay-container {
    display: none; /* Should disappear on pay */
}

.nav-categories {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 45px;
    line-height: 40px;
    width: 100%;
    text-align: center;
    background-color: #595959;
    color: #ffffff;
}

.nav-categories .focus {
    background-color: #000000 !important;
}