.sale-container {
    margin-top: 75px;
    margin-left: 0px;
    margin-bottom: 0px;
    width: 100%;
}

#product-list {
    border: solid black 1px;
}

.product {
    width: 15%;
    margin-right: 25px;
}

.number-key {
}

#number-pad {
    border: solid black 1px;
}

#receipt-items {
    border: solid black 1px;
    overflow: auto;
}

#receipt {
    border: solid black 1px;
}


