{% extends "base.htm" %}

{% block includes %}
    <link href="../static/css/sale.css" rel="stylesheet" />
    <script src="../static/js/sale.js"></script>
{% endblock %}

{% block page %}
    <div class="container sale-container">
        <div id="product-list" class="col-md-8">
        </div>

        <div class="col-md-4">
            <div id="number-pad">
                asd
            </div>
            <div id="receipt">
                <a href="#" onclick="complete_transaction('cash')" class="btn btn-default§">Cash</a>
                <a href="#" onclick="complete_transaction('pin')" class="btn btn-default">Pin</a>
                <a href="#" onclick="complete_transaction('gift')" class="btn btn-default">Gift</a>
            </div>
        </div>
    </div>
{% endblock %}