{% extends "base.htm" %}

{% block includes %}
    <link href="../static/css/sale.css" rel="stylesheet" />
    <script src="../static/js/sale.js"></script>
{% endblock %}

{% block page %}
    <div class="container sale-container">
        <div id="product-list" class="col-md-9">
        </div>

        <div class="col-md-2 col-md-offset-1">
            <div id="number-pad" class="row">
                
            </div>
            <div id="receipt" class="row">
                <div id="receipt-items">
                </div>
                <div>
                    <a href="#" onclick="complete_transaction('cash')" class="btn btn-default">Cash</a>
                    <a href="#" onclick="complete_transaction('pin')" class="btn btn-default">Pin</a>
                    <a href="#" onclick="load_stock()" class="btn btn-default">Fust</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}