{% extends "content.htm" %}

{% block includes %}
    <link rel="stylesheet" href="/static/css/analysis.css">
    <script src="/static/js/jquery.flot.min.js"></script>
    <script src="/static/js/jquery.flot.time.min.js"></script>
    <script src="/static/js/admin/analysis/analysis.js"></script>
{% endblock %}

{% block content %}
    <div>
        <p><h1>Week {{data.weeknumber}}</h1></p>
    </div>
    <div class="chart_container">
        <div class="chart_div"></div>
    </div>
{% endblock %}