{% extends 'content.htm' %}

{% block includes %}
<script src='/static/js/admin/association.js'></script>
{% endblock %}

{% block content %}
<script type="text/javascript">
    $('#collapseTwo').collapse('show')
</script>

<div id='new-association'></div>

<div id='association-members'></div>

<div class='panel panel-default'>
    <div class='panel-heading'>
        <div class='panel-title'>Associations</div>
    </div>

    <div class='panel-body'>
        <button id='new-btn' class='btn btn-primary'>
            <strong>+</strong> Add new association
        </button>
    </div>

    <table id='associations' class='table table-striped'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script type='text/template' id='association-view-template'>
<% _.each(associations, function(association) { %>
    <tr data-id='<%= association.get('id') %>'>
        <td><%= association.get('id') %></td>
        <td><%= association.get('name') %></td>
        <td><%= association.user.get('login_name') %></td>
        <td><%= association.user.get('email') %></td>
        <td class='text-right'>
            <button class='members btn btn-default btn-xs'>
                <span class='glyphicon glyphicon-user'></span>
            </button>
            <button class='edit btn btn-info btn-xs'>
                <span class='glyphicon glyphicon-edit'></span>
            </button>
            <button class='remove btn btn-danger btn-xs'>
                <span class='glyphicon glyphicon-remove'></span>
            </button>
        </td>
    </tr>
<% }); %>
</script>

<script type='text/template' id='association-edit-template'>
<td><%= association.get('id') %></td>
<td><input type='text' class='form-control' data-property='name' value='<%= association.get('name') %>' /></td>
<td><input type='text' class='form-control' data-property='login_name' value='<%= association.user.get('login_name') %>' /></td>
<td><input type='text' class='form-control' data-property='email' value='<%= association.user.get('email') %>' /></td>
<td class='text-right'>
    <button class='save btn btn-primary btn-xs'>
        <span class='glyphicon glyphicon-ok'></span>
    </button>
    <button class='cancel btn btn-danger btn-xs'>
        <span class='glyphicon glyphicon-ban-circle'></span>
    </button>
</td>
</script>

<script type='text/template' id='association-new-template'>
<div class='panel panel-default'>
    <div class='panel-heading'>
        <div class='panel-title pull-left'>New association</div>
        <button id='cancel-new' class='btn btn-danger pull-right'>
            <span class='glyphicon glyphicon-remove'></span> Close
        </button>
        <div class='clearfix'></div>
    </div>

    <div class='panel-body'>
        <div class='form-group' id='new-association-form'>
            <label for='new-association-name'>Name</label>
            <input type='text' class='form-control' id='new-association-name' data-property='name' placeholder='Name' />

            <label for='new-association-login_name'>Username</label>
            <input type='text' class='form-control' id='new-association-login_name' data-property='login_name' placeholder='Username' />

            <label for='new-association-password'>Password</label>
            <input type='password' class='form-control' id='new-association-password' data-property='password' placeholder='Password' />

            <label for='new-association-email'>Email</label>
            <input type='text' class='form-control' id='new-association-email' data-property='email' placeholder='Email' />
        </div>

        <button id='save-new' class='btn btn-primary'>Save</button>
    </div>
</div>
</script>

<script type='text/template' id='association-customers-template'>
<div class='panel panel-default'>
    <div class='panel-heading'>
        <div class='panel-title pull-left'>
            <%= association.get('name') %> - Customers
        </div>
        <button id='close-customer' class='btn btn-danger pull-right'>
            <span class='glyphicon glyphicon-remove'></span> Close
        </button>
        <div class='clearfix'></div>
    </div>

    <div class='panel-body'>
        <div class='panel panel-default'>
            <% if (customers.length > 0) { %>
                <table class='table'>
                    <thead>
                        <th>ID</th>
                        <th>Name</th>
                        <th></th>
                    </thead>

                    <tbody>
                        <% _.each(customers, function(customer) { %>
                            <tr data-id='<%= customer.get('id') %>'>
                                <td><%= customer.get('id') %></td>
                                <td><%= customer.get('name') %></td>
                                <td class='text-right'>
                                    <button class='remove-customer btn btn-danger btn-xs'>
                                        <span class='glyphicon glyphicon-remove'></span>
                                    </button>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            <% } else { %>
                <div class='panel-body'>
                    <p class='text-warning'>No customers coupled with this association.</p>
                </div>
            <% } %>
        </div>

        <div class='panel panel-default'>
            <div class='panel-body'>
                <div class='input-group'>
                    <select id='customer-id' class='form-control'>
                        <% _.each(all_customers, function(customer) { %>
                            <option value='<%= customer.get('id') %>'>
                                <%= customer.get('name') %>
                            </option>
                        <% }); %>
                    </select>
                    <span class='input-group-btn'>
                        <button id='add-customer' class='btn btn-primary'>Add</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
</script>
{% endblock %}
