{% extends "content.htm" %}

{% block includes %}
    <script src="/static/js/admin/product.js"></script>
    <script src="/static/js/admin/product/search_product.js"></script>
{% endblock %}

{% block content %}
    <script type="text/javascript">
        $('#collapseOne').collapse('show')
    </script>
    <div id='new-product'></div>

    <div class="row">
        <div class="col-lg-11  ">
            <div class="input-group">
                <input type="text" id="search_field"  class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span style="margin: 3px;" class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div><!-- /input-group -->
        </div>
    </div>
    <br />
    <div class='panel panel-default'>
        <div class='panel-heading'>
            <div class='panel-title'>Product</div>
        </div>

        <div class='panel-body'>
            <button id='new-btn' class='btn btn-primary'>
                <strong>+</strong> Add new product
            </button>
        </div>
        <table class="table table-striped custab" id="products">
            <thead>
                <tr>
                    <th>Product category</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity per product</th>
                    <th>Stock</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="remove_modal" tabindex="-1" role="dialog" aria-labelledby="modal_label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="modal_label">Weet u zeker dat u dit product wil verwijderen?</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger finalremove" data-dismiss="modal">DELETE</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script type="text/template" id="product-view-template">
        <% _.each(products, function(product) { %>
            <tr data-id='<%= product.get('id') %>'>
                <td><%= product.product_category.get('name') %></td>
                <td><%= product.get('name') %></td>
                <td>€<%= product.get('price') %></td>
                <td><%= product.get('quantity') %></td>
                <td><%= product.stock.get('name') %></td>
                <td class="text-center">
                    <button class="btn btn-info btn-xs edit">
                        <span class="glyphicon glyphicon-edit"></span> 
                    </button>
                    <button class="btn btn-danger btn-xs remove">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        <% }); %>
    </script>​

    <script type='text/template' id='product-edit-template'>
        <td><%= product.get('id') %></td>
        <td><input type='text' class='form-control' data-property='name' value='<%= product.get('name') %>' /></td>
        <td><input type='text' class='form-control' data-property='shortname' value='<%= product.get('shortname') %>'/></td>
        <td class='text-right'>
            <button class='save btn btn-primary btn-xs'>
                <span class='glyphicon glyphicon-ok'></span>
            </button>
            <button class='cancel btn btn-danger btn-xs'>
                <span class='glyphicon glyphicon-ban-circle'></span>
            </button>
        </td>
    </script>

    <script type='text/template' id='product-new-template'>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                <div class='panel-title pull-left'>New product</div>
                <button id='cancel-new' class='btn btn-danger pull-right'>
                    <span class='glyphicon glyphicon-remove'></span> Close
                </button>
                <div class='clearfix'></div>
            </div>

        <div class='panel-body'>
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form_field form-control" type='text' id="name", placeholder="Product name", data-property="name"/>
            
                <label for="shortname">Abbreviation</label>
                <input class="form_field form-control" type='text' id="shortname", placeholder="Abbreviation for product name", data-property="shortname"/>
            
                <label for="price">Price</label>
                <input class="form_field form-control" type='text' id="price", placeholder="1.23", data-property="price"/>
            
                <label for="quantity">Quantity</label>
                <input class="form_field form-control" type='text' id="quantity", placeholder="quantity in mL", data-property="quantity"/>
            
                <label for="unit">Unit</label><br/>
                <select class="form_select select2-offscreen" type='text' id="unit" data-property="unit" tabindex="-1">
                    <option value="cL">Centiliter</option>
                    <option value="amount">Aantal</option>
                </select>
                <br />
                <label for="product_category_id">Product category</label><br/>
                <select id="product_category_id" class="form_select select2-offscreen" data-property="product_category_id" tabindex="-1">
                    <% _.each(product_categories, function(product_category) { %>
                        <option value="<%= product_category.get('id') %>"><%= product_category.get('name') %></option>
                    <% }); %>
                </select>
                <br />
                <label for="stock_id">Stock</label><br/>
                <select id="stock_id" class="form_select select2-offscreen" data-property="stock_id" tabindex="-1">
                    <% _.each(stocks, function(stock) { %>
                        <option value="<%= stock.get('id') %>"> <%= stock.get('name') %></option>
                    <% }); %>
                </select>
                <br />
                <label for="assoc_id">Association</label><br/>
                <select id="assoc_id" class="form_select select2-offscreen" data-property="assoc_id" tabindex="-1">
                    <% _.each(associations, function(association) { %>
                        <option value="<%= association.get('id') %>"><%= association.get('name') %></option>
                    <% }); %>
                </select>
                <br />
                <label for='new-product-direct'>Direct</label>
                <input type='checkbox' id='new-product-direct' data-property="direct" data-toggle="tooltip" title="The direct checkbox sets whether products can be directly subtracted from the stock quantity."/>
            </div>
            <button id='save-new' class='btn btn-primary'>Save</button>
        </div>
    </script>
{% endblock %}