{% extends "content.htm" %}

{% block includes %}
    <script src="/static/js/stock/search_stock.js"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-11  ">
            <div class="input-group">
                <input type="text" id="search_field" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span style="margin: 3px;" class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div><!-- /input-group -->
        </div>
    </div>
    <br />
    <div class="row col-md-12 custyle">
        <table class="table table-striped custab">
            <thead>
            <a href="{{url_for('admin.new_stock')}}" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new stock</a>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody id="products">
            	{% for item in data.stock %}
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.quantity}}</td>
                        <td class="text-center">
                            <a class='btn btn-info btn-xs' href="#">
                                <span class="glyphicon glyphicon-edit"></span> 
                            </a>
                            <a href="#" class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
            	{% endfor %}
            </tbody>
        </table>
    </div>

<script type="text/template" id="stock-template">
<tr>
    <td><%= id %></td><td><%= name %></td><td><%= quantity %></td>
    <td class="text-center">
        <a class='btn btn-info btn-xs' href="#">
            <span class="glyphicon glyphicon-edit"></span> 
        </a>
        <a href="#" class="btn btn-danger btn-xs">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </td>
</tr>
</script>​
{% endblock %}

