{% extends "content.htm" %}

{% block includes %}
    <script src="/static/js/admin/stock/search_stock.js"></script>
    <script src="/static/js/admin/stock.js"></script>
{% endblock %}

{% block content %}
    <script type="text/javascript">
        $('#collapseOne').collapse('show')
    </script>
    <div id='new-stock'></div>
    <div class="row">
        <div class="col-lg-11  ">
            <div class="input-group">
                <input type="text" id="search_field" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span style="margin: 3px;" class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <br />
    <div class='panel panel-default'>
        <div class='panel-heading'>
            <div class='panel-title'>Stocks</div>
        </div>

        <div class='panel-body'>
            <button id='new-btn' class='btn btn-primary'>
                <strong>+</strong> Add new stock
            </button>
        </div>
        <table class="table table-striped custab" id="all_stocks">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <script type="text/template" id="stock-view-template">
        <% _.each(stocks, function(stock) { %>
            <tr data-id='<%= stock.get('id') %>'>
                <td><%= stock.get('id') %></td>
                <td><%= stock.get('name') %></td>
                <td><%= stock.get('quantity') %></td>
                <td class='text-right'>
                    <button class='edit btn btn-info btn-xs'>
                        <span class='glyphicon glyphicon-edit'></span>
                    </button>
                    <button class='remove btn btn-danger btn-xs'>
                        <span class='glyphicon glyphicon-remove'></span>
                    </button>
                </td>
            </tr>
        <% }); %>
    </script>​

    <script type='text/template' id='stock-edit-template'>
        <td><%= stock.get('id') %></td>
        <td><input type='text' class='form-control' data-property='name' value='<%= stock.get('name') %>' /></td>
        <td><input type='text' class='form-control' data-property='quantity' value='<%= stock.get('quantity') %>' /></td>
        <td class='text-right'>
            <button class='save btn btn-primary btn-xs'>
                <span class='glyphicon glyphicon-ok'></span>
            </button>
            <button class='cancel btn btn-danger btn-xs'>
                <span class='glyphicon glyphicon-ban-circle'></span>
            </button>
        </td>
    </script>

    <script type="text/template" id="stock-new-template">
        <div class='panel panel-default'>
            <div class='panel-heading'>
                <div class='panel-title pull-left'>New stock</div>
                <button id='cancel-new' class='btn btn-danger pull-right'>
                    <span class='glyphicon glyphicon-remove'></span> Close
                </button>
                <div class='clearfix'></div>
            </div>

            <div class='panel-body'>
                <div class='form-group' id='new-stock-form'>
                    <label for='new-stock-name'>Name</label>
                    <input type='text' class='form-control' id='new-stock-name' data-property='name' placeholder='Name' />

                    <label for='new-stock-direct'>Direct</label>
                    <input type='checkbox' id='new-stock-direct'/>
                </div>

                <button id='save-new' class='btn btn-primary'>Save</button>
            </div>
        </div>
    </script>
{% endblock %}
