

{% extends "content.htm" %}

{% block includes %}
    <script src="/static/js/admin/trans_in/new_trans_in.js"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-11  ">
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span style="margin: 3px;" class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div><!-- /input-group -->
        </div>
    </div>
    <br />
    <div class="row col-md-12 custyle">
        <table class="table table-striped custab">
            <thead>
            <a href="#" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#trans_in"><b>+</b> Add new transaction</a>
                <tr>
                    <th>ID</th>
                    <th>Volume</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
        	{% for item in data.trans_in %}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.volume}}</td>
                    <td>€{{item.price}}</td>
                    <td><a href="#">{{item.stock.name}}</a></td>
                    <td class="text-center">
                        <a class='btn btn-info btn-xs' href="#">
                            <span class="glyphicon glyphicon-edit"></span> 
                        </a>
                        <a href="#" class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
        	{% endfor %}
        </table>
    </div>

<!-- Modal -->
<div class="modal fade" id="trans_in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add new transaction</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal col-md-12" id="new_product" action="#">
            <div class="form-group">
                <label for="price">Price per unit</label>
                <input class="form_field form-control" type='text' id="price", placeholder="1.23", data-property="price"/>
            </div>
            <div class="form-group">
                <label for="volume">Volume per unit</label>
                <input class="form_field form-control" type='text' id="volume", placeholder="volume in mL per unit", data-property="volume"/>
            </div>        
            <div class="form-group">
                <label for="volume">Units</label>
                <input class="form_field form-control" type='text' id="units", placeholder="units", data-property="volume"/>
            </div>
            <div class="form-group">
                <label for="stock_id">Stock</label><br/>
                <select id="stock_id" class="form_select select2-offscreen" data-property="stock_id" tabindex="-1">
                    {% for item in data.stocks %}
                        <option value="{{item.id}}">{{item.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="assoc_id">Association</label><br/>
                <select id="assoc_id" class="form_select select2-offscreen" data-property="assoc_id" tabindex="-1">
                    {% for item in data.associations %}
                        <option value="{{item.id}}">{{item.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-primary save" data-loading-text="Bezig...">Verzenden</button>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}