{% extends "base_pos.htm" %}

{% block page %}
<!-- What fallows is some backbone.js (with lodash.js) functinality --> 
    <script type='text/template' id='productbutton-view-template'>
    <% _.each(products, function(product) { %>
        <div class="col-xs-6 col-sm-3">
            <div class="item-btn item-btn-active" 
                style='background-color:#<%= product.product_category.get('color')%>'
                product-id="<%= product.get('id') %>" product-price="<%= product.get('price') %>">
                <div class="item-btn-name"><%= product.get('name') %></div>
                <div class="item-btn-amount-now"></div>
                <div class="item-btn-price">&euro; <%= product.get('price').toFixed(2).replace('.', ',') %></div>
            </div>
        </div>
    <% }); %>
    </script>

    <script type='text/template' id='customer-view-template'>
    <div class="col-xs-12 pay-confirm-options">
        <div class="col-xs-4">
            <div class="confirm-btn cash">Cash</div>
        </div>
        <div class="col-xs-4">
            <div class="confirm-btn pin">Pin</div>
        </div>
        <div class="col-xs-4">
            <div class="confirm-btn credit grayed">Credit</div>
        </div>
    </div>

    <div class="col-xs-12 customer-list-wrapper">
        <ul class="list-group customer-list">
            <li class="list-group-item" customer-id="0">Select customer</li>
            <% _.each(customers, function(customer) { %>
                <li class="list-group-item" customer-id="<%= customer.get('id') %>"
                    customer-credit="<%= (customer.get('credit') == null) ?
                                         '0.0' : parseFloat(customer.get('credit').credit) %>">
                    <%= customer.get('name') %>
                    <span class="badge">
                        <%= (customer.get('credit') == null) ?
                            '0,00' : customer.get('credit').credit.toFixed(2).replace('.', ',') %>
                    </span>
                </li>
            <% }); %>
        </ul>
    </div>
    </script>

    <script type='text/template' id='receipt-view-template'>
    <ul class="list-group item-list">
        <li class="list-group-item">
            Receipt <span>&euro; <span id="receipt-total">0,00</span></span>
            <div class="list-delete list-delete-all">Delete</div>
        </li>
        <% if (entries.length) { %>
            <% _.each(entries, function(entry) { %>
                    <li class="list-group-item list-entry"><span class="item-count" product-id="<%= entry.get('product_id') %>">
                        <%= entry.get('quantity') %></span>x <%= entry.get('name') %>
                        <span class="badge"><%= parseFloat(entry.get('price') * entry.get('quantity')).toFixed(2).replace('.', ',') %></span>
                        <div class="list-delete">Delete</div>
                    </li>
            <% }); %>
        <% } else { %>
            <li class="list-group-item item-list-placeholder">No items</li>
        <% } %>
    </ul>
    </script>
    <div class="overlay">
        <img id="loading-img" src="/static/img/loader.gif" />
        <div id="overlay-msg"></div>
        <div class="confirm-btn">Okay</div>

    </div>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Brainwave</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row product-list">
            <div class="col-xs-12 col-sm-8">
                <div class="row item-row" id="pos-item-container"></div>
                <div class="row item-row" id="pos-pay-container"></div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="numpad" id="numpad">
                    <div class="row">
                        <div class="col-xs-12 numpad-btn-big" id="numpad-display"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 numpad-btn" numpad-id="1">1</div>
                        <div class="col-xs-4 numpad-btn" numpad-id="2">2<div>ABC</div></div>
                        <div class="col-xs-4 numpad-btn" numpad-id="3">3<div>DEF</div></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 numpad-btn" numpad-id="4">4<div>GHI</div></div>
                        <div class="col-xs-4 numpad-btn" numpad-id="5">5<div>JKL</div></div>
                        <div class="col-xs-4 numpad-btn" numpad-id="6">6<div>MNO</div></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 numpad-btn" numpad-id="7">7<div>PQRS</div></div>
                        <div class="col-xs-4 numpad-btn" numpad-id="8">8<div>TUV</div></div>
                        <div class="col-xs-4 numpad-btn" numpad-id="9">9<div>WXYZ</div></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 numpad-btn" numpad-id="ctrl" id="numpad-ctrl-sign">Neg (-)</div>
                        <div class="col-xs-4 numpad-btn" numpad-id="0">0</div>
                        <div class="col-xs-4 numpad-btn" numpad-id="cl">CL</div>
                    </div>
                </div>

                <div class="transact-btn pay-btn">
                    <div class="row">
                        <div class="col-xs-12 transact-btn-text">Pay</div>
                    </div>
                </div>
                
                <div class="receipt" id="receipt"></div>
            </div>
        </div>
    </div>
{% endblock %}