{% extends "base.htm" %}

{% block page %}
<div class="container" style="padding-top: 70px">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked admin-menu">
                <li class="active"><a href="#" data-target-id="home">Home</a></li>
                <li class='dropdown'>
                    <a class="dropdown-toggle" type="button" id="Admindropdown" data-toggle="dropdown">
                        Admin
                        <span class="caret"></span>
                    </a>
                    <ul class="nav nav-pills nav-stacked admin-menu dropdown-menu" role="menu" aria-labelledby="Admindropdown">
                        <li role="presentation"><a href="{{url_for('admin.view_product')}}" data-target-id="Product">Product</a></li>
                        <li role="presentation"><a href="{{url_for('admin.view_stock')}}" data-target-id="Stock">Stock</a></li>
                        <li role="presentation"><a href="{{url_for('admin.view_trans_in')}}" data-target-id="Stock-In">Stock-In</a></li>
                        <li role="presentation"><a href="{{ url_for('admin.view_association') }}" data-target-id="Gebruikers">Gebruikers</a></li>
                    </ul>
                </li>
                <li><a href="#" data-target-id="">Template Category</a></li>
            </ul>
        </div>
        <div class="col-md-9 well">
            <div class="messages"></div>
        	<p>
                {% block content %}
                {% endblock %}
            </p>
        </div>
    </div>
</div>

{% endblock %}